<h1>Sign Up</h1>

<%if flash.has?(:signup_errors)%>
  <%flash[:signup_errors].each do |err|%>
    <div class="alert alert-danger" role="alert">
      <%=err%>
    </div>
  <%end%>
<%end%>

<form class="<%@has_error%>" action="/signup" method="post">
  <label class="<%@username_label%>" for="username">Username</label>
  <input class="<%@username_control%>" type="text" name="username" id="username">

  <label class="<%@password_label%>" for="password">Password</label>
  <input class="<%@password_control%>" type="password" name="password" id="password">

  <input type="submit" value="Sign up">
</form>
