<h1>Sign Up</h1>

<%if flash.has?(:signup_errors)%>
  <%flash[:signup_errors].each do |err|%>
    <div class="alert alert-danger" role="alert">
      <%=err%>
    </div>
  <%end%>
<%end%>

<form action="/signup" method="post">
  <div class="form-group <%=flash[:name_error]%>">
    <label class="control-label" for="username">Username</label>
    <input class="form-control" type="text" name="username" id="username" value="<%=@exist_name%>">
  </div>

  <div class="form-group <%=flash[:pass_error]%>">
    <label class="control-label" for="password">Password</label>
    <input class="form-control" type="password" name="password" id="password">
  </div>

  <input type="submit" value="Sign up">
</form>
