<div class="jumbotron">
  <h1>Welcome to "To Visit List"</h1>
  <p>With this app, you can keep countries and cites where you'd like to visit.</p>

  <a href="/signup" type="button" class="btn btn-primary btn-lg">Sign up</a>
  <em class="text-muted">Or already user?</em> <a href="/login">Log in</a>

</div>
